<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars App</title>
</head>
<body>
    <a href="/cars">View Your Collection</a>
    <h1>Welcome to Find Your Car</h1>
    <p>An App to pick or check out YOUR favorite cars</p>
</body>
</html>